/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Profile Container */
.profile-container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #171F26;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Profile Header */
.profile-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffa135;
}

.profile-info h1 {
    font-size: 1.8rem;
}

.username {
    color: #ffa135;
    margin-bottom: 0.5rem;
}

.social-links {
    margin-top: 0.5rem;
    display: flex;
    gap: 1.5rem;
}

.social-links img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
    text-align: center;
}

.stats span {
    font-weight: bold;
    color: #ffa135;
}

.description {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.95rem;
}

/* Info Boxes */
.info {
    margin: 1.5rem 0;
}

.box{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #252F3D;
    border-radius: 10px;
}

.interactive-box {
    border: 1px solid #ffa135;
}

.box-icon {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.box-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.box-icon-svg{
    width: 4rem;
    height: auto;
    border-radius: 1rem;
}

.box-icon-svg img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.box-title {
    font-weight: bold;
    color: #ffa135;
}

.box-info {
    font-size: 0.9rem;
    color: #CCCCCC;
}

.box-date{
    font-size: 0.8rem;
    color: #8f8f8f;
}

.cv{
    height: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 0.95rem;
}

.cv a {
    display: inline-block;
    width: 50%;
    height: 80%;
    border-radius: 1rem;
    border-width: 0;
    background-color: #ffa135;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 2.8rem;
    color: #171F26;
    text-decoration: none;
}

.cv a:hover {
    background-color: #ff8c00;
}

.extra-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.extra-links img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

@media (width < 895px) {
    .profile-pic {
        width: 80px;
        height: 80px;
    }

    .profile-info h1 {
        font-size: 1.5rem;
    }

    .social-links {
        gap: 1rem;
    }

    .social-links img {
        width: 20px;
        height: 20px;
    }

    .stats {
        flex-direction: column;
        gap: 1rem;
    }

    .cv a {
        width: 50%;
        font-size: 0.9rem;
        line-height: 2.5rem;
    }

    .box {
        width: 90%;
    }

    .box-title {
        font-size: 1rem;
    }

    .box-date {
        font-size: 0.7rem;
    }

    .box-info {
        font-size: 0.9rem;
    }
}

@media(width < 730px){
    .box{
        flex-direction: column;
        align-items: center;
    }

    .box-icon {
        width: 70%;
        height: auto;
        margin-bottom: 1rem;
    }

    .interactive-box {
        flex-direction: column;
        align-items: center;
    }

    .box-icon {
        width: 70%;
        height: auto;
        margin-bottom: 1rem;
    }
}

@media (width < 430px) {
    .profile-container{
        min-width: 250px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }

    .profile-info h1 {
        font-size: 1.5rem;
    }

    .social-links {
        gap: 1rem;
    }

    .social-links img {
        width: 20px;
        height: 20px;
    }

    .stats {
        flex-direction: column;
        gap: 1rem;
    }

    .cv a {
        width: 80%;
        font-size: 0.9rem;
        line-height: 2.5rem;
    }

    .box {
        width: 90%;
    }

    .box-title {
        font-size: 1rem;
    }

    .box-date {
        font-size: 0.7rem;
    }

    .box-info {
        font-size: 0.9rem;
    }

    .box-icon {
        width: 100%;
    }

    .box-icon-svg{
        width: 50%;
    }
}